*{
    margin:0;
    padding:0;   
}

/*
Inicio Codigo General
*/

.contenedor{
    width:90%;
    margin:auto;
}

.elementos {
    display:flex;
    flex-direction: row;
}

/*
Fin de Codigo General
*/


/*

Inicio CSS menu header

*/



.menu_fondo {

    background-color: rgba(115,112,216,1);
}


.header .logo {
    line-height:120px;
    color:white;
    font-size:35px;

}


.header .elementos {

    position:relative;

}


.header .menu {
    display: flex;
    flex-direction: row;
    position:absolute;
    right:0;
}

.header .menu li {
    line-height:120px;
    margin-left:40px;
    cursor: pointer;
    display: inline-block;
}

.header .menu i,
.header .menu a {
    color: rgba(225, 255 , 255 , .781);
    text-decoration: none;
    font-size: 19px;
}


.header .menu a:hover {

    color:white;
}

.header .menu form input[type="text"]{
    position:absolute;
    top:77px;
    right:0;
    outline: none;
    border: none;
    border-radius: 2px;
}

.oculto {

    padding:0;
    width: 0;
    transition: all .3s;

}

.visible {
    padding:14px;
    width: 140px;
    transition: all .3s;
}


/*

Fin CSS menu header

*/




/*Inicio CSS seccion principal*/

.principal_fondo {
    padding-top: 50px;
    background-image:  linear-gradient(rgba(7,93,163,0.671),rgba(53,85,172,0.555)),url("../images/f1.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.principal .detalles_principal {
    width: 80%;

}

.principal .detalles_principal .titulo {
 color:white;
 font-size: 80px;
 width: 560px;
}


.principal .detalles_principal .subtitulo {
    color:white;
    font-size: 27px;
  
   }
   
.principal .botones_contacto {

    width:45%;
    padding:30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.principal .detalles_principal .boton {

    padding:20px 30px;
    color:rgba(82,35,170,.781);
    background: white;
    outline: none;
    border: 1px solid white;
    cursor: pointer;
    margin-right:35px;
    transition: .4s ease-in;
}


.principal .detalles_principal .boton:hover {
    color:white;
    border: 1px solid white;
    background-color: transparent;
    transition: .4s ease-in;
}

/*Inicio CSS seccion principal*/